/********** category **********/

#dj-classifieds .dj-category {
	border: 1px solid #EAEAEA;
	margin-bottom: 20px;
}

#dj-classifieds .dj-category .cat_row_title {
	background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#dj-classifieds .dj-category a.rss_icon {
	margin-left: 10px;
}

#dj-classifieds .dj-category a.rss_icon img {
	vertical-align: top;	
}

#dj-classifieds .dj-category .cat_row {
	margin-left: -20px;
	padding: 20px 20px 0;
}

#dj-classifieds .dj-category .cat_col {
	width: 33.3%; /** update? **/
	float: left;
}

#dj-classifieds .dj-category .cat_col .cat_col_in {
	padding: 0 0 20px 20px;	
}

#dj-classifieds .dj-category .title img {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    float: left;
    margin: 0 10px 5px 0;
    padding: 1px;
    vertical-align: middle;
}

#dj-classifieds .dj-category .title h2 {
	margin-bottom: 10px;
	font-weight: bold;
}

#dj-classifieds .main_cat_title .rss_icon img{
	margin: 5px 5px 0;
} 

#dj-classifieds h1.main_cat_title .main_cat_title_path,
#dj-classifieds h1.main_cat_title .main_cat_title_path a {
	font-size: 13px;
	color: #6E6F71;
}

/********** table **********/

#dj-classifieds table.dj-items {
    border: none;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 0;
}

#dj-classifieds table.dj-items .main_title th {
    border-right: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background-color: #F7F7F7;
    color: #000000;
    text-align: center;
    white-space: nowrap;
	padding: 10px;
	font-weight: bold;
}

#dj-classifieds table.dj-items .main_title th.first {
    border-left: 1px solid #EAEAEA;
}

#dj-classifieds table.dj-items .main_title th.active {
	background: #ffffff;
}

#dj-classifieds table.dj-items a {
    color: #554F4F;
}

#dj-classifieds table.dj-items th a img {
    margin-left: 5px;
}

#dj-classifieds table.dj-items td {
    border-bottom: 3px solid #E8E8E8;
    border-right: 1px dashed #E8E8E8;
    border-top: 1px solid #E8E8E8;
	padding: 10px;
    text-align: center;
    vertical-align: middle;
}

#dj-classifieds table.dj-items tr td.first {
	border-left: 1px solid #EAEAEA;
    border-right: none;	
}

#dj-classifieds table.dj-items tr td:last-child {
	border-right: 1px solid #E8E8E8;
}

#dj-classifieds table.dj-items td h3 {
	margin-bottom: 10px;
}


/* promotions */

#dj-classifieds table.dj-items tr.promotion.p_bg td {
    background: #6D9AD2;
	color: #EFEFEF;
	border-left: none;
    border-right: 1px dashed #89ADDA;
    border-top: #5E85B5;
    border-bottom: 3px solid #5E85B5;
}

#dj-classifieds table.dj-items tr.promotion.p_bg td:last-child {
	border-right: none;
}

#dj-classifieds table.dj-items tr.promotion.p_bg td a,
#dj-classifieds table.dj-items tr.promotion.p_bg td h3 {
    color: #FFFFFF;
}

#dj-classifieds table.dj-items tr.promotion.p_border td {
    border-bottom: 3px solid #32719a;
    border-top: 3px solid #32719a;
	padding: 10px;
}

#dj-classifieds table.dj-items tr.promotion.p_border td.first {
	border-left: 3px solid #32719a;
}

#dj-classifieds table.dj-items tr.promotion.p_border td:last-child {
	border-right: 3px solid #32719a;
}

#dj-classifieds table.dj-items tr.promotion.p_border .icon img {
    background: #32719a;
    border: none;
    padding: 3px;
}

#dj-classifieds table.dj-items tr.promotion.p_bold td {
	font-weight: bold;
}

#dj-classifieds table.dj-items tr.promotion.p_bold td div.p_special_img_wrapper {
	position: relative;
}

#dj-classifieds table.dj-items tr.promotion.p_bold td div.p_special_img_wrapper span.p_special_img {
	background: url(images/p_special_img.png) no-repeat;
	width: 44px;
	height: 44px;
	position: absolute;
	top: -4px;
	right: -4px;
}

/* end promotions */

#dj-classifieds table.dj-items .icon img {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 1px;
}

#dj-classifieds table.dj-items td.name a {
    color: #004B90;
    font-weight: bold;
}

#dj-classifieds table.dj-items td.price {
	font-weight: bold;
}

/********** blog **********/

#dj-classifieds .djcf_items_blog {
	margin-left: -20px;
	*zoom: 1; /*ie7*/
}

#dj-classifieds span.new_icon {
	display: inline-block;
	background: #b7db68;
	background: -moz-linear-gradient(top,  #b7db68 0%, #a6c75d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7db68), color-stop(100%,#a6c75d));
	background: -webkit-linear-gradient(top,  #b7db68 0%,#a6c75d 100%);
	background: -o-linear-gradient(top,  #b7db68 0%,#a6c75d 100%);
	background: -ms-linear-gradient(top,  #b7db68 0%,#a6c75d 100%);
	background: linear-gradient(to bottom,  #b7db68 0%,#a6c75d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7db68', endColorstr='#a6c75d',GradientType=0 );
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #638221;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.35);
	padding: 0 20px;
	line-height: 20px;
  	box-shadow: 1px 1px 0 #c6e85b inset, 0 0 1px 0 rgba(0, 0, 0, 0.3);
  	-webkit-box-shadow: 1px 1px 0 #c6e85b inset, 0 0 1px 0 rgba(0, 0, 0, 0.3);
	vertical-align: top;
	font-weight: bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

#dj-classifieds table.dj-items img.fav_ico {
	margin-bottom: 5px;
}

#dj-classifieds .djcf_items_blog div.pagination {
	padding-left: 20px;
}

#dj-classifieds .djcf_items_blog .item_box {
    float: left;
}

#dj-classifieds .djcf_items_blog .item_box_in {
	padding: 0 0 20px 20px;
}

#dj-classifieds .djcf_items_blog .item_box_in2 {
    background: #FFFFFF;
    border-color: #EAEAEA;
    border-style: solid;
    border-width: 1px 1px 3px;
    padding: 20px;
}

#dj-classifieds .djcf_items_blog .title {
    margin-bottom: 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid #EAEAEA;
    font-size: 1.3em;
    font-weight: bold;
}

#dj-classifieds .djcf_items_blog .title h2 {
	display: inline;
	*padding-right: 5px;
}

#dj-classifieds .djcf_items_blog .item_box_right {
	*zoom: 1;/*ie7*/	
}

#dj-classifieds .djcf_items_blog .item_box_right .item_img {
	float: left;
}

#dj-classifieds .djcf_items_blog .item_img img {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 1px;
	margin: 0 10px 10px 0;
}

#dj-classifieds .djcf_items_blog .item_desc {
    display: table-cell;
	*float: left;/*ie7*/
}

#dj-classifieds .djcf_items_blog .item_desc .label_title {
	display: block;
    font-weight: bold;
    background: url(images/description.png) no-repeat left center;
    padding: 0 0 0 25px;
}

#dj-classifieds .djcf_items_blog .item_box_right span.desc_info {
    border-top: 1px solid #EAEAEA;
    display: block;
    margin: 7px 0 10px;
    padding: 10px 0 0;
}

#dj-classifieds .djcf_items_blog .item_box_bottom span.desc_info {
	padding: 10px 0 0;
	display: block;
}

#dj-classifieds .blog_det .item_box_bottom .item_desc {
	display: block;
	*float: none;/*ie7*/
}

#dj-classifieds .blog_det .item_box_bottom .item_desc,
#dj-classifieds .blog_det .region, 
#dj-classifieds .blog_det .price {
    border-bottom: 1px solid #EAEAEA;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

#dj-classifieds .blog_det .price {
	font-weight: bold;
}

#dj-classifieds .blog_det .region .label_title, 
#dj-classifieds .blog_det .price .label_title {
    height: 14px;
    width: 15px;
	float: left;
	margin-right: 10px;
}

#dj-classifieds .djcf_items_blog .region .label_title {
    background: url(images/location.png) no-repeat center center;
}

#dj-classifieds .djcf_items_blog .price .label_title {
    background: url(images/price_ico.png) no-repeat center center;
}

/* promotions */

#dj-classifieds .djcf_items_blog .promotion.p_bg .item_box_in2 {
    background: #6D9AD2;
    border-color: #5E85B5;
    color: #FFFFFF;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .title {
    border-bottom: 1px solid #8AB3E5;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg a {
	color: #ffffff;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .item_desc .label_title {
    background: url(images/desc_white.png) no-repeat left center;
}

#dj-classifieds .promotion.p_bg .blog_det .item_box_bottom .item_desc, 
#dj-classifieds .promotion.p_bg .blog_det .price, 
#dj-classifieds .promotion.p_bg .blog_det .region {
    border-bottom: 1px solid #8AB3E5;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .region .label_title {
    background: url(images/localization_white.png) no-repeat center center;
}

#dj-classifieds .djcf_items_blog .promotion.p_bg .price .label_title {
    background: url(images/price_white.png) no-repeat center center;
}

#dj-classifieds .djcf_items_blog .promotion.p_bold {
	font-weight: bold;
}

#dj-classifieds .djcf_items_blog .promotion.p_border .item_box_in2 {
	border-color: #32719a;
    border-width: 3px;
    padding: 18px 18px 20px;
}

#dj-classifieds .djcf_items_blog .promotion.p_special .item_box_in2 {
	position: relative;
}

#dj-classifieds .djcf_items_blog .promotion.p_special span.p_special_img {
	background: url(images/p_special_img.png) no-repeat;
	width: 44px;
	height: 44px;
	position: absolute;
	top: -4px;
	right: -4px;
}

#dj-classifieds .djcf_items_blog .promotion.p_special.p_border span.p_special_img {
	top: -6px;
	right: -6px;
}

/* end promotions */

#dj-classifieds .djcf_items_blog .see_details_box {
	font-weight: bold;
}

/********** category tree **********/

#dj-classifieds .dj-cattree-box .title_top {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    padding: 10px;
}

#dj-classifieds .dj-cattree-box {
	border: 1px solid #EAEAEA;
}

#dj-classifieds .dj-cattree-box .title_top {
	text-align: center;
}

#dj-classifieds .dj-cattree-box.cols3 .dj-cattree {
	width: 33.3%;
}

#dj-classifieds .dj-cattree-box.cols2 .dj-cattree {
	width: 49.9%;
}

#dj-classifieds .dj-cattree-box.cols4 .dj-cattree {
	width: 24.9%;
}

#dj-classifieds .dj-cattree-box.cols5 .dj-cattree {
	width: 19.9%;
}

#dj-classifieds .dj-cattree-box .dj-cattree-wrap {
	padding: 10px 20px;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree {
	float: left;
	margin: 10px 0;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree li {
	font-weight: bold;
}

#dj-classifieds .dj-cattree-box ul.dj-cattree li li {
	font-weight: normal;
}

/********** user items **********/

#dj-classifieds table.dj-items a.edit {
	background: url(images/cl_edit.png) no-repeat left center;
    display: inline-block;
    margin: 0 0 15px;
    padding: 0 0 0 20px;
}

#dj-classifieds table.dj-items a.renew {
	background: url(images/cl_renew.png) no-repeat left center;
    padding: 0 0 0 20px;
    display: inline-block;
    margin: 0 0 15px;
}

#dj-classifieds table.dj-items a.delete {
	background: url(images/cl_delete.png) no-repeat left center;
    padding: 0 0 0 20px;	
    display: inline-block;
    margin: 0 0 15px;
}

/********** add item **********/

/*
#dj-classifieds .dj-additem {
	border: 1px solid #EAEAEA;
}
*/

#dj-classifieds .dj-additem form#djForm {
	padding:0;
	margin: 0;
}

#dj-classifieds .dj-additem .title_top {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    padding: 10px;
}

#dj-classifieds .dj-additem .title_top {
	text-align: center;
}

#dj-classifieds .dj-additem .additem_djform {
	border: 1px solid #EAEAEA;
}

#dj-classifieds .dj-additem .additem_djform .additem_djform_in {
	padding: 20px 20px 0;
}

#dj-classifieds .dj-additem .additem_djform {
	margin-bottom: 20px;
}

#dj-classifieds .dj-additem .prom_rows .djform_row .label {
	width: 25%;
	margin: 0;
}

#dj-classifieds .dj-additem .prom_rows .djform_row .djform_field {
	width: 75%;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_v,
#dj-classifieds .dj-additem .prom_rows .djform_prom_img,
#dj-classifieds .dj-additem .prom_rows .djform_prom_desc {
	float: left;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_v,
#dj-classifieds .dj-additem .prom_rows .djform_prom_img {
	width: 25%;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_desc  {
	width: 50%;
}

#dj-classifieds .dj-additem .prom_rows .djform_prom_v_in,
#dj-classifieds .dj-additem .prom_rows .djform_prom_v_img,
#dj-classifieds .dj-additem .prom_rows .djform_prom_v_desc {
	padding-left: 20px;
}

#dj-classifieds .dj-additem .djform_row {
    border-bottom: 1px dashed #EAEAEA;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#dj-classifieds .dj-additem .djform_row.extra_fields {
	margin: 0;
	padding: 0;
	border: none;
}

#dj-classifieds .dj-additem .djform_row .label {
    float: left;
    font-weight: bold;
    margin: 5px 30px 5px 0;
    text-align: right;
    width: 200px;
}

#dj-classifieds .dj-additem .djform_row .label span {
    color: #818181;
    font-size: 0.9em;
	line-height: 1.5em;
    font-weight: normal;
}

#dj-classifieds .dj-additem .djform_row .djform_field {
	float: left;
}

#dj-classifieds .dj-additem .djform_row .djform_field span.radio_label {
    margin: 0 0 0 7px;
}

#dj-classifieds .dj-additem #after_cat_0 select,
#dj-classifieds .dj-additem #after_reg_0 select{
	margin-top: 5px;
}

#dj-classifieds textarea {
	width: 400px;
}

#dj-classifieds .defaultSimpleSkin table.mceLayout {
	width: 400px !important;
}

#dj-classifieds .djform_field a.add_another_image {
    background: url(images/add_image.png) no-repeat 0 1px;
    display: inline-block;
    margin: 12px 0 0;
    padding: 0 0 0 20px;
}

#dj-classifieds .dj-additem .djform_row .label_terms {
    font-weight: bold;
    margin: 0 0 0 10px;
}

.defaultSimpleSkin iframe {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px 3px 0 0 !important;
	-webkit-border-radius: 3px 3px 0 0 !important;
}

#dj-classifieds .classifieds_buttons {
	display: inline-block;
}
#dj-classifieds .classifieds_buttons .button{
	margin-right: 10px;
}
/********** single ad view **********/

#dj-classifieds .dj-item {
	border: 1px solid #EAEAEA;
}

#dj-classifieds .dj-item .title_top {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    font-weight: bold;
    padding: 10px;
	*display: inline-block;/*ie7*/
}

#dj-classifieds .dj-item .title_top h2 {
    color: #000000;
	font-size: 1.4em;
	display: inline;	
}

#dj-classifieds .dj-item .title_top a:hover {
	text-decoration: none;
}

#dj-classifieds .dj-item .dj-item-in {
	margin: 20px;
}

#dj-classifieds .dj-item .title_top .sb_top {
	float: right;
}

#dj-classifieds .dj-item .title_top .title_edit {
	margin-left: 10px;
	border: 1px solid #DDDDDD;
    color: #444444;
    background: #fff;
    text-transform: uppercase;
    padding: 1px 6px;	
    border-radius: 3px;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
	display: inline-block;
}

#dj-classifieds .dj-item .title_top span.new_icon, 
#dj-classifieds .dj-item .title_top img.fav_ico {
	margin: 0 5px;
}

#dj-classifieds .dj-item .images img {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    padding: 1px;
}

#dj-classifieds .dj-item .djc_thumbnails .djc_thumbnail {
    float: left;
    margin: 0 10px 0 0;
}

#dj-classifieds .dj-item .djc_mainimage {
	*margin-right: 20px;/*ie7*/	
}

#dj-classifieds .dj-item .djc_mainimage a {
	display: block;
}

#dj-classifieds .dj-item .djc_mainimage img {
	margin-bottom: 10px;
}

#dj-classifieds .dj-item .images_wrap {
    float: left;
}

#dj-classifieds .dj-item .general_det {
	float: right;
}

#dj-classifieds .dj-item .general_det.no_images {
	width: 100%;
}

#dj-classifieds .dj-item .general_det, 
#dj-classifieds .dj-item .localization_det, 
#dj-classifieds .dj-item .images, 
#dj-classifieds .dj-item .description {
    margin-bottom: 20px;
}

#dj-classifieds .dj-item .row {
    margin: 0 0 20px;
}

#dj-classifieds .dj-item span.row_label {
    font-weight: bold;
}

#dj-classifieds .dj-item .general_det span.row_label {
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    display: block;
    margin: 0 0 10px;
    padding: 0 0 10px 25px;
}

#dj-classifieds .dj-item .general_det .price_wrap {
    background: #F7F7F7;
    border: 1px solid #EBEBEB;
    color: #333333;
    font-size: 1.4em;
    padding: 15px 20px;
}

#dj-classifieds .dj-item .general_det .price_wrap span.row_label {
    background: url(images/price_ico.png) no-repeat left center;
    padding: 0 0 0 25px;
	border: none;
	display: inline;
	margin: 0;
}

#dj-classifieds .dj-item .general_det .contact span.row_label {
    background: url(images/contact.png) no-repeat left 2px;
}

#dj-classifieds .dj-item .general_det .added {
    width: 44.9%;
	margin-right: 5%;
	float: left;
}

#dj-classifieds .dj-item .general_det .user_name {
	width: 44.9%;
	margin-left: 5%;
	float: right;
}

#dj-classifieds .dj-item .general_det .added span.row_label {
    background: url(images/added.png) no-repeat;
}

#dj-classifieds .dj-item .general_det .user_name span.row_label {
    background: url(images/username.png) no-repeat;
}

#dj-classifieds #ask_form {
	width: 100%;
}

#dj-classifieds form#djForm {
    margin: 10px 0 0;
}

#dj-classifieds #ask_form label {
	display: block;
	margin-bottom: 5px;
	color: #000000;
	font-size: 0.9em;
}

#dj-classifieds #ask_form input {
	margin-bottom: 10px;
}

#dj-classifieds #abuse_form textarea, 
#dj-classifieds #ask_form textarea {
    max-width: 100%;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
    margin-bottom: 10px;
}

#dj-classifieds .dj-item .description {
	clear: both;
}

#dj-classifieds .dj-item .description h2 {
    background: url(images/description.png) no-repeat 0 1px;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 10px 25px;
}

#dj-classifieds .dj-item  .custom_det {
	float: left;
    width: 46.9%;
	margin-right: 3%;
}

#dj-classifieds .dj-item .custom_det h2 {
    background: url(images/custom_details.png) no-repeat;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 10px 25px;
}

#dj-classifieds .dj-item .custom_det .row {
    margin: 0 0 10px;
}

#dj-classifieds .dj-item .custom_det span.row_label {
	display: block;
	margin-bottom: 5px;
}

#dj-classifieds .dj-item .localization_det {
    float: right;
    width: 46.9%;
	margin-left: 3%;
}

#dj-classifieds .dj-item .localization_det h2 {
    background: url(images/localization.png) no-repeat;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 10px 25px;
}

#dj-classifieds .dj-item .localization_det #google_map_box #map {
	max-width: 100%;
}

#dj-classifieds .dj-item .localization_det form.gm_drive_dir {
	margin-top: 10px;
}

#dj-classifieds .dj-item .localization_det form.gm_drive_dir label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
#dj-classifieds .dj-item .localization_det .map_info{
	margin-top: 10px;
	color:#6E6F71;
}
#dj-classifieds .dj-item .additional {
	clear: both;
}

#dj-classifieds .dj-item .additional h2 {
    background: url(images/custom_details.png) no-repeat;
    border-bottom: 1px solid #EAEAEA;
    color: #000000;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 10px 25px;
}

#dj-classifieds .dj-item .additional .row {
    margin: 0 0 10px;
}

/********** payment **********/

#dj-classifieds table.paymentdetails {
	width: 100% !important;
}

#dj-classifieds table.paymentdetails.first {
	margin-bottom: 20px;
}

#dj-classifieds table.paymentdetails .payment_td {
	border: 1px solid #EAEAEA;
}

#dj-classifieds table.paymentdetails td.td_pdetails {
	padding: 20px;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row {
	padding: 10px 0 0;
	margin-top: 10px;
	border-top: 1px solid #EAEAEA;
	display: inline-block;
	width: 100%;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row:first-child {
	padding: 0;
	margin: 0;
	border: none;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_total {
	background: #f7f7f7;
	padding: 10px 20px;
	margin-top: 20px;
	font-weight: bold;
}

#dj-classifieds table.paymentdetails td.td_pdetails div.pd_row_total span {
	text-transform: uppercase;
	float: none;
	padding: 0;
}

#dj-classifieds table.paymentdetails td.td_pdetails div span {
	float: left;
	padding: 0 20px;
}

#dj-classifieds table.paymentdetails td.td_pdetails div span.price {
	float: right;
}

#dj-classifieds table.paymentdetails td.td_title{
	background: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    padding: 10px;
}

#dj-classifieds table.paymentdetails td.td_title h2 {
    color: #000000;
    text-align: center;
	padding: 0;
	font-size: 1em;
	margin: 0;
	font-weight: bold;
}

#dj-classifieds table.paymentdetails .table_payment {
	padding: 20px;
}

#dj-classifieds table.paymentdetails{
	border: 1px solid #EAEAEA;
}

#dj-classifieds table.paymentdetails td.table_payment table {
	border: none;
}

#dj-classifieds table.paymentdetails td.table_payment table td {
	vertical-align: middle;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td1 img,
#dj-classifieds table.paymentdetails td.table_payment table td.td3 img {
	vertical-align: middle;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td2 {
	background: #F7F7F7;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    padding: 20px;
	vertical-align: top;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td2 table {
	margin-top: 10px;
}

#dj-classifieds table.paymentdetails td.table_payment table td.td2 table select,
#dj-classifieds table.paymentdetails td.table_payment table td.td2 table input {
	margin: 5px;
}

#dj-classifieds table.paymentdetails td.table_payment table div.email_box span {
	margin: 10px 0 5px;
	display: block;
}

#dj-classifieds table.paymentdetails td.table_payment table div.email_box input.validate-email {
	width: 200px;
}

/********** module items **********/

.mod_djclassifieds_items .items {
	margin-left: -20px;
	display: inline-block;
}

.mod_djclassifieds_items .items-col {
	float: left;
}

.mod_djclassifieds_items .items-col .icol-in {
	padding: 0 0 0 20px;
}

.mod_djclassifieds_items .items-cols1 .items-col {width: 100%;}
.mod_djclassifieds_items .items-cols2 .items-col {width: 49.9%;}
.mod_djclassifieds_items .items-cols3 .items-col {width: 33.3%;}
.mod_djclassifieds_items .items-cols4 .items-col {width: 24.9%;}
.mod_djclassifieds_items .items-cols5 .items-col {width: 19.9%;}
.mod_djclassifieds_items .items-cols6 .items-col {width: 16.6%;}
.mod_djclassifieds_items .items-cols7 .items-col {width: 14.2%;}
.mod_djclassifieds_items .items-cols8 .items-col {width: 12.4%;}
.mod_djclassifieds_items .items-cols9 .items-col {width: 11.1%;}
.mod_djclassifieds_items .items-cols10 .items-col {width: 9.9%;}

.mod_djclassifieds_items .item {
	border-bottom: 1px solid #EAEAEA;
    float: left;
    width: 100%;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.mod_djclassifieds_items div.title {
	float: left;
    width: 100%;
	padding-bottom: 7px;
}

.mod_djclassifieds_items div.title a.title {
	font-weight: bold;
}

.mod_djclassifieds_items .date_cat {
	color: #888888;
}

.mod_djclassifieds_items div.title a.title {
	padding-bottom: 6px;
	display: block;
	font-size: 1.1em;
}

.mod_djclassifieds_items div.title span.date,
.mod_djclassifieds_items div.title span.category,
.mod_djclassifieds_items div.title span.price {
	padding-bottom: 3px;
	display: block;
}

.mod_djclassifieds_items div.title span.price {
	font-weight: bold;
}

.mod_djclassifieds_items .title img {
	border: 1px solid #EAEAEA;
    float: left;
	background: #ffffff;
    margin-right: 10px !important;
	margin-bottom: 3px;
    padding: 1px;
    vertical-align: top;
}

.mod_djclassifieds_items .desc {
    float: left;
    width: 100%;
}

/********** module search **********/

.dj_cf_search input[type="text"],
.dj_cf_search select,
.payment_td input,
.payment_td select {
    margin: 0 0 10px;
}

.dj_cf_search form {
    width: 100%;
}

.dj_cf_search select {
    width: 100% !important;
}

.dj_cf_search #search_ex_fields,
.dj_cf_search .search_price {
	margin: 0 0 10px;
}

.dj_cf_search #search_ex_fields select {
    height: auto !important;
    min-width: 65px;
    width: auto !important;
}

#search_ex_fields input.inputbox[type="radio"] {
    width: auto !important;
}

.dj_cf_search .se_checkbox div {
    width: 50%;
}

.dj_cf_search .se_checkbox div .radio_label {
    margin: 0 0 0 7px;
}

.dj_cf_search .search_price label, 
.dj_cf_search .djseform_field span.label {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
}

.dj_cf_search .djseform_field {
	margin: 0 0 10px;
}

.dj_cf_search .search_price .label2 {
    margin: 0;
}

.dj_cf_search .search_price input.inputbox {
	width: 30px;
}

.dj_cf_search .to_class {
    margin: 0 0 0 5px;
}

.dj_cf_search .from_class {
    margin: 0 5px 0 0;	
}

.dj_cf_search .to_class.new {
    margin: 0 5px;
}

.dj_cf_search a.button {
    margin: 7px 0 0 15px;
    display: inline-block
}

/********** tool tip **********/

.djcf .tip{
    background: url(images/tootlip_bg.png) repeat;
    border: none;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    max-width: 598px;
    padding: 6px;
} 

.djcf .tip-title {
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #333333;
    font-weight: bold;
    margin: 0 !important;
    padding: 20px;
    width: 546px !important;
	font-size: 1.2em;
}

.djcf .tip-text {
    background: #FFFFFF;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    color: #000000;
    display: inline-block;
    font-size: 0.9em;
    padding: 0 20px 20px;
    width: 546px !important;
}

.djcf .tip-text .contact,
.djcf .tip-text .price,
.djcf .tip-text .desc{
	padding: 0 0 20px;
}

.tip-text .images_box img {
	margin-right: 5px;
	border: 1px solid #EAEAEA;
	background: #ffffff;
	padding: 1px;
}

.tip-text .row_title,
.tip-text .title {
    border-bottom: 1px solid #EAEAEA;
    color: #577BA8;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 10px;
}

.djcf_prom .tip{
	background: transparent;
	border: none;
}